$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/* transitions */
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
/**/

/* font variables */
$lobster : 'Lobster', cursive;
$ubuntu : 'Ubuntu', sans-serif;
/**/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  height:100%;
}
.full-height-container {
  height:100%;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.navbar-default {
  background-color: #fff;
  border:0px;
}
.navbar {
  img.brand-logo {
    @include transition(all, 0.2s, ease-in-out);
  }
  .navbar-nav {
    border-bottom: 1px solid #ccc;
  }  
}
.bigLogo img.brand-logo {
  width: 80px;
}
.smallLogo img.brand-logo {
  width:50px;
}
.head-container {
  .head-main {
    width: 400px;
  }
  .main-title {
    font-size: 40px;
  }
  .main-title-developer {
    font-family: $ubuntu;
    float: left;
  }
  .main-title-designer {
    font-family: $lobster;
    float: right;
  }
}
.about-title {
  font-size: 40px;
  font-family: $ubuntu;
}
.content-wrapper {
  text-align: center;
}

/* ngAnimate transitions */

.at-view-slide-in-top.ng-enter {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, -100%);
    -moz-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%);
    -o-transform: translate(0px, -100%);
    transform: translate(0px, -100%);
    opacity: 0;
    z-index: 1;
    position: absolute;
    width:calc(100vw - 30px);
    box-sizing: border-box;
}

.at-view-slide-in-top.ng-enter-active {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    position: absolute;
    width:calc(100vw - 30px);
    box-sizing: border-box;
}

.at-view-slide-out-top.ng-leave {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    z-index: 3;
    position: absolute;
    width:calc(100vw - 30px);
    box-sizing: border-box;
}

.at-view-slide-out-top.ng-leave-active {
    -webkit-transform: translate(0px, -100%);
    -moz-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%);
    -o-transform: translate(0px, -100%);
    transform: translate(0px, -100%);
    opacity: 0;
    width:calc(100vw - 30px);
    box-sizing: border-box;
}